* {
	margin:0;
	padding:0;
}

html {
	background-image:url('../images/spy.png');
	background-repeat:no-repeat;
	background-position:center 150px;
}

input[type=text] {
	width:300px;
	border:2px solid #888;
	border-radius:4px;
	padding:3px;
	color:#555;
}

input[type=image] {
	width:30px;
}

.search-line {
	width:370px;
	margin:250px auto;
}

.form-left {
	float:left;
	width:310px;
	padding-top:5px;
}

.form-right {
	float:right;
	width:50px;
}

.clear {
	clear:both;
}

ul{
	
	margin-left: 45%;
}